app:
  privateKey: 'privateKey.pem'
  publicKey: 'publicKey.pem'
  accessTokenTTL: 7200000
  refreshTokenTTL: 172800000
  mailTokenTTL: 3600000
  cache:
      ttl: 10
      host: 'localhost'
      port: 6379

http:
  host: 'localhost'
  port: 3000
  domain: 'livelyverse.io'
    upload:
      path: 'uploads'
      sizeLimit: 1048576
      mimeFilter: 'image'

db:
  postgres:
    host: 'localhost'
    port: 5432
    profile: 'postgres'
    password: 'xxxxxx'
    database: 'db'
    entities: "dist/**/*.entity{.ts,.js}"
    logging: true
    migrationsRun: false
    synchronize: true
    autoLoadEntities: true

mail:
  host: 'smtp.example.com'
  port: 25
  user: 'info@example.com'
  password: 'xxxxxx'
  from: 'support@example.com'
  templateDir: 'templates'

blog:
  medium:
    rss: 'https://medium.com/feed/@example'
    homepage: 'https://medium.com/@example'

airdrop:
  twitter:
    authToken: 'auth token'
    startAt: 1635579838000
    bufferCount: 64
    tracker:
      duration: 604800
      interval: 14400000

blockchain:
  network:
    name: 'localhost'
    type: 'testnet'
    provider: 'hardhat'
    chainId: 31337
    url: 'http://localhost:8545/'
    apiKey: ''

accounts:
    - name: 'airdropAccount'
      privateKey: '0x0000000000000000000000000000000000000000'
      address: '0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
tokens:
    - name: 'LIV'
      address: '0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'


