<p>Hello {{ name }}, thank you very much for registering with Lively Verse.</p>
<p>This is your verification code to create your account:</p>
<p>
  {{ code }}
</p>
<p>
  Join our telegram channel to receive daily news: <a href="https://t.me/livelyverse">https://t.me/livelyverse</a>
</p>
<p>Greetings,</p>
<p>The Lively Team</p>
