<p>Hi {{ name }} </p>
<p>There was a request to reset your password!</p>
<p>If you did not make this request then please ignore this email.</p>
<p>Otherwise, please click this link to reset your password:</p>
<p>
  {{ url }}
</p>
<p>The Lively Team</p>
